*{
	box-sizing: border-box;	
	margin: 0;
	padding: 0;

}

body{
	max-width: 600px;
	margin: 0 auto;
	background-color: #fafafa;
	font-family: 'OpenSans',sans-serif;
}

.container{
	max-width: 580px; 
}

.container__clearfix:after{
    content: '';
    display: block;
    clear:both;
}

.tab__menu{
	margin-top: 50px;
	max-width: 580px;
	font-size: 14px;
	background: solid 1px #000;
}

.tab__title{
	position: relative;
}

.tab__title-elem{
	display: inline-block;
	text-align: center;
	line-height: 30px;
	background-color: #f1f1f1;
	border: 2px #c1c1c1 solid;
	border-radius: 3px;
	margin-left: 5px;
	font-size: 14px;
	color: #a0a0a0;
	padding: 2px 10px;
	cursor: pointer;
}

.tab__body{
	position: relative;
	top: -2px;
	min-height: 300px;
}


.tab__title-elem_active{
	border-bottom: 2px solid #fff;
	background-color: #fff;
}

.tab__body{
	border: 2px #c3c3c3 solid;
	max-width: 800px;
}

.tab__body-elem{
	display: none;
}

.body__elem{
	border:border-box;
	display: inline-block;
	text-align: center;
	padding-top: 3%;
	line-height: 30px;
	vertical-align: bottom;
	height: 70px;
	width: 70px;
	margin: 20px 10px 20px 20px;
	border: 2px #c1c1c1 solid;
	font-size: 14px;
	color: #a0a0a0;
}

@media only screen and (max-width:480px) {
 body{
 	width: 320px;

 }
.container{
 	width: 300px;
 	margin:0 auto;	
 }
.tab__menu{
	margin-top: 15px;
}
.tab__title-elem_active{
	border-bottom: 2px solid #fff;
	background-color: #fff;
}

.tab__title-elem{
	display: block;
	text-align: center;
	line-height: 30px;
	background-color: #f1f1f1;
	border: 2px #c1c1c1 solid;
	border-radius: 3px;
	color: #a0a0a0;
	font-size: 14px;
	padding: 2px 10px;
	cursor: pointer;
	margin-left: 0px;
}
.body__elem{
	border:border-box;
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	line-height: 30px;
	vertical-align: bottom;
	height: 55px;
	width: 55px;
	margin: 10px 10px 10px 10px;
	border: 2px #c1c1c1 solid;
	font-size: 12px;
	color: #a0a0a0;
}

}

@media only screen (min-width: 481px) and (max-width:720px) {
 body{
 	width: 480px;

 }
.container{
 	width: 460px;
 	margin:0 auto;	
 }
.tab__menu{
	margin-top: 15px;
}
.tab__title-elem_active{
	border-bottom: 2px solid #fff;
	background-color: #fff;
}

.tab__title-elem{
	display: block;
	text-align: center;
	line-height: 30px;
	background-color: #f1f1f1;
	border: 2px #c1c1c1 solid;
	border-radius: 3px;
	color: #a0a0a0;
	font-size: 14px;
	padding: 2px 10px;
	cursor: pointer;
	margin-left: 0px;
}
.body__elem{
	border:border-box;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
	line-height: 30px;
	vertical-align: bottom;
	height: 80px;
	width: 80px;
	margin: 10px 10px 10px 10px;
	border: 2px #c1c1c1 solid;
	font-size: 16px;
	color: #a0a0a0;
}

}